header {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid;
  }
  .padded_header {
    padding: 17px;
    border-top: 2px solid;
  }